<div class="home__container">
	<app-card
		gameCover="assets/logo-uncharted1.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 89,00"
	>
	</app-card>
	<app-card
		gameCover="assets/logo-uncharted3.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS4"
		gamePrice="R$ 60,00"
	>
	</app-card>
	<app-card
		gameCover="assets/logo-uncharted4.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS3 PS5"
		gamePrice="R$ 46.00"
		>
	</app-card>
	<app-card
		gameCover="assets/logo-unchartedtll.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 50.99"
	>
	</app-card>
</div>

